html,
body {
	padding: 0;
}

#snippets {
	/* padding: 12px; */
	border-radius: 4px;
	box-shadow: #163143;
	font-size: 26px;
	font-family: 'Menlo', 'Monaco', sans-serif;
}

.snippet {
	background-color: #3FD8C9;
	display: flex;
	padding: 12px;
	margin: 12px 0;
	color: #fff;
}

.snippet-name,
.snippet-cmd {
	padding-right: 20px;
}

.snippet-name {
	font-weight: 600;
}

.snippet-copy {
	margin-right: 8px;
}

.snippet-delete {
	margin: 0px 20px 0px auto;
	color:#fff;
}

.to-right {
	text-align: right;
}

/* 
  Button Styles 
  */
.button.button-outline {
	border-color: #163143;
	color: #163143;
}

/* .heading-btn {
	margin-top: 12px;
} */

.snippet-copy>button {
	background-color: #163143;
	border-color: #163143;
}

.snippet-delete>button {
	background-color: #F0675C;
	border-color: #F0675C;
}

.error-msg {
	color: rgb(255, 0, 0);
	font-weight: 600;
}

.sign-out, .sign-in {
	margin: 0px 20px 0px auto;
}